<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <!--
        条件渲染：
        1.v-if
        写法：
            （1）v-if='表达式'
            （2）v-else-if='表达式'
            （3）v-else='表达式'
        适用于：切换频率较低的场景
        特点：不展示的DOM元素直接被移除
        注意：v-if可以和v-else-if、v-else一起使用，但要求结构不能被打断。

        2.v-show
        写法：v-show='表达式'
        适用于：切换频率较高的场景
        特点：不展示的DOM元素未被移除，仅仅是使用样式隐藏掉

        3.备注：使用v-if时，元素可能无法获取到，而使用v-show一定可以获取到
    -->
    <div id="root">
        <h3>the value of n is:{{n}}</h3>
        <button @click="n++">click me to add 1</button>

        <!--使用v-show做条件渲染-->
        <!-- <h2 v-show="true">hello world!</h2>
        <h2 v-show="false">hello world!</h2>
        <h2 v-show="1===1">hello world!</h2> -->

        <!--使用v-if做条件渲染-->
        <!-- <h2 v-if="true">hello javascript!</h2>
        <h2 v-if="false">hello javascript!</h2> -->


        <!--对于切换频率比较高，使用v-show，因为只是隐藏无需重绘-->
        <!-- <div v-show="n===1">angular</div>
        <div v-show="n===2">react</div>
        <div v-show="n===3">vue</div> -->

        <!--和else-if语句的逻辑是一样的，前一个成立就不看下一个了，且被打断后无效-->
        <div v-if="n===1">angular</div>
        <div v-else-if="n===2">react</div>
        <div v-else-if="n===3">vue</div>
        <div v-else="">test</div>

        <!--v-if与template的配合使用-->
        <template v-if="n===1">
           <h2>1</h2> 
           <h2>2</h2> 
           <h2>3</h2> 
        </template>
    </div>
</body>
<script>
    Vue.config.productionTip = false;

    const vm = new Vue({
        el:'#root',
        data:{
            n:0,
        }
    });
</script>
</html>